<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fake Instagram Profile Detection</title>

    <!-- CSS CONNECT -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2><b><u>Fake Instagram Profile Detection</u></b></h2>
        <p>AI-based system to identify fake Instagram accounts</p>

        <form action="/predict" method="post">
            <input type="number" name="profile_pic" placeholder="Profile Picture (1/0)" required>
            <input type="number" step="any" name="username_ratio" placeholder="Username Numeric Ratio" required>
            <input type="number" name="fullname_words" placeholder="Full Name Word Count" required>
            <input type="number" step="any" name="fullname_ratio" placeholder="Fullname Numeric Ratio" required>
            <input type="number" name="name_username" placeholder="Name equals Username (1/0)" required>
            <input type="number" name="bio_length" placeholder="Bio Length" required>
            <input type="number" name="external_url" placeholder="External URL (1/0)" required>
            <input type="number" name="private" placeholder="Private Account (1/0)" required>
            <input type="number" name="posts" placeholder="Total Posts" required>
            <input type="number" name="followers" placeholder="Followers" required>
            <input type="number" name="follows" placeholder="Following" required>

            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <div class="result {{ 'fake' if prediction=='FAKE PROFILE' else 'real' }}">
                Result: {{ prediction }}
            </div>
        {% endif %}

        <footer>
            © AI Fake Profile Detection BY ADARSH 
        </footer>
    </div>
</body>
</html>

